<ion-view view-title="Lok Sabha" class="lok">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap"
                href="#/app/ls-billsforintroductions">
        <img class="dark-bg" ng-src="/img/bills-cons.png">
        <span>Bills for Consideration and Passing</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/app/ls-bills">
        <img class="dark-bg" ng-src="/img/bills-passing.png">
        <span>Bills for Introduction</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap"
                href="#/app/ls-shortdiscussion">
        <img class="dark-bg" ng-src="/img/short-discussion.png">
        <span>Short Duration Discussion</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap"
                href="#/app/ls-statements">
        <img class="filter: invert(100%) dark-bg" ng-src="/img/minister-stments.png">
        <span>Statement by Ministers</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap"
                href="#/app/ls-starredquestion">
        <img class="dark-bg" ng-src="/img/starred-quest.png">
        <span>Starred Questions</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap"
                href="#/app/ls-paperstobetabled">
        <img class="dark-bg" ng-src="/img/papers-tabled.png">
        <span>Papers to be Tabled</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
