<ion-view view-title="Short Duration Discussion">
  <ion-content class="padding">
    <main class="main">
      <a href="#" class="date">{{todayDate}}</a>
      <a href="#" target="_blank">continued from yesterday</a>
        <div ng-if="short_discussion_list !== undefined">
          <li ng-repeat="discussion in short_discussion_list">
            <ul class="cards-snippet">
              <p class="size-14">{{discussion.name_of_discussion_topic}}</p>
            </ul>
          </li>
        </div>
    </main>
  </ion-content>
</ion-view>
